@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
@import url('https://notikki.github.io/static/stylesheets/tyvncms.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: tyvncms, sans-serif;
    margin: 0;
    padding: 0;
    color: #2c3e50;
    background-color: #eee;
    max-width: 1024px;
    margin: auto;
}

a {
    color:#035283;
    text-decoration:none;
}

a:hover {
    color:#417394;
    text-shadow:0 0 6px #666;
}

div, ul {
    display: block;
}

li {
    list-style: none;
}

#header {
    height: 50px;
    line-height: 50px;
    /* width: 100%; */
    width: 1024px;
    background: #fff;
    position: fixed;
    top: 0;
    z-index: 9;
    border-bottom: 1px solid #f2f2f2;
}

#header .header-menu-btn {
    float: left;
    margin-left: 50px;
}

#header .logo {
    float: left;
    color: #141416;
    font-size: 20px;
    height: 50px;
    line-height: 58px;
    overflow: hidden;
    width: 200px;
    text-align: left;
}

#header .logo img {
    margin-left: 60px;
    margin-top: 6px;
}

#header .search {
    float: left;
    /* max-width: 360px; */
    margin: 8px 0px 0px 20px;
}

#header .search .search-bar {
    display: block;
    width: 400px;
    height: 34px;
    padding: 0 34px;
    background-color: #fff;
    color: #566574;
    font-family: tyvncms, monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    letter-spacing: .17px;
    border: solid 1px #eceef1;
    border-radius: 2px;
}

#header .nav {
    float: right;
}

#header .nav ul {
    padding: 0px 10px;
}

#header .nav ul li {
    display: inline-block;
    margin-right: 20px;
    font-size: 15px;
}

#content {
    width: 1024px;
    margin: 60px auto;
}

.view {
    border: 0 solid #e1e1e1;
    background: #fff;
    margin: 0;
    padding: 2px 4px 4px;
}


.dmt {
    background-color: #F2F6F8;
    border-bottom: 1px solid #EBEBEB;
    color: #34617E;
    margin: 0;
    padding: 10px 4px;
}

.list1 {
    background: none repeat scroll 0 0 #FFF;
    line-height: 24px;
    border-left: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
    border-bottom: 1px solid #EBEBEB;
    padding: 10px 30px;
}

.list1 h2 {
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.list1 p.excerpt {
    font-size: 14px;
}

.list1 span {
    font-size: 10px;
}

.nodejs-tag {
    background-color: #009933;
    border-radius: 3px;
    color: #FFF;
    font-size: 11.844px;
    font-weight: 700;
    line-height: 14px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    vertical-align: baseline;
    white-space: nowrap;
    padding: 1px 4px 2px;
}

#popup {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 99;
    transition: 0.4s;
}

#popup.active {
    opacity: 1;
    visibility: visible;
    transition: 0.4s;
}

#popup #menu-popup {
    width: 320px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -320px;
    visibility: hidden;
    z-index: 999;
    transition: 0.4s;
    background-color: #ffffff;
    opacity: 0;
    padding: 6px 10px;
}

#popup #menu-popup.active {
    opacity: 1;
    visibility: visible;
    left: 0;
    transition: 0.4s;
}
